<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="register">
        <input name="id" type="text" placeholder="아이디" /><br>
        <input name="pw" type="text" placeholder="비밀번호" /><br>
        <input name="name" type="text" placeholder="이름" /><br>
        <input type="submit" value="회원가입">
    </form>
</body>
</html>