<!DOCTYPE html>
<html>
<% include ./head.ejs %>

    <body>
        <% include ./nav.ejs %>
            <div id="main">
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="images/user.png" alt="Card image cap"
                                style="width: 50%; height: 50%; margin: 16px auto;">
                            <div class="card-body">
                                <h3 class="card-title">
                                    <%= user.name %>
                                </h3>
                                <p>
                                    <%= user.id %>
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">구매목록</li>
                                <li class="list-group-item">장바구니</li>
                                <li class="list-group-item">문의하기</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">배송지 관리</h5>
                                        <p class="card-text">Delivery address management</p>
                                        <a href="address" class="btn btn-primary">이동</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">신용카드 관리</h5>
                                        <p class="card-text">Credit card management</p>
                                        <a href="card" class="btn btn-primary">이동</a>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">배송지 관리</h5>
                                        <p class="card-text">Delivery address management</p>
                                        <a href="#" class="btn btn-primary">이동</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">신용카드 관리</h5>
                                        <p class="card-text">Credit card management</p>
                                        <a href="#" class="btn btn-primary">이동</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>