<!DOCTYPE html>
<html lang="en">
<% include ./head.ejs %>

    <body>
        <% include ./nav.ejs %>
            <div id="signup">
                <div class="card text-center">
                    <div class="card-header">
                        νμ›κ°€μ… μ„±κ³µ
                    </div>
                    <div class="card-body"><br>
                        <p style="font-size: 64px;">π‰</p>
                        <h5>
                            <%= name %>λ‹ νμ›κ°€μ…μ„ μ¶•ν•ν•©λ‹λ‹¤!
                        </h5><br>
                        <a class="btn btn-outline-primary" href="/signin" role="button">λ΅κ·ΈμΈ</a>
                        <a class="btn btn-primary" href="/" role="button">λ©”μΈνμ΄μ§€λ΅</a>
                    </div>
                    <div class="card-footer text-muted">
                        λ„μ„κµ¬λ§¤μ‚¬μ΄νΈ
                    </div>
                </div>
            </div>
    </body>

</html>