<!DOCTYPE html>
<html>
<% include ./head.ejs %>

    <body style="background-color: #F8F9FA;">
        <% include ./nav.ejs %>
            <div id="main">
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h5>결제정보</h5>
                                <hr>
                                <span>
                                    <span style="float: left;">상품수</span>
                                    <span style="float: right;">1개</span>
                                </span><br>
                                <span>
                                    <span style="float: left;">상품금액</span>
                                    <span style="float: right;">100,000원</span>
                                </span><br>
                                <hr>
                                <span>
                                    <h5 style="float: left;">총 결제금액</h5>
                                    <h3 style="float: right;">100,000원</h3>
                                </span><br>
                                <button class="btn btn-primary" style="width: 100%;">구매하기</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>